body {
    background-color: rgb(234, 238, 244);
}
.btn-primary{
    background-color: black;
    border-color: black;
}
a.active
{
    background-color: black !important;
    color: white !important; 
    border-radius: 8px;
    padding: 8px;
    
}